<h1><%= @user.name %></h1>
<h2>Created Events</h2>
<ul>
  <% @user.created_events.each do |event| %>
  <li>
    <%= link_to event.name, event %>
  </li>
  <% end %>
</ul>
<h2>Attended Events</h2>

<h3>Upcoming</h3>
<ul>
  <% @user.attended_events.upcoming.find_each do |event| %>
  <li>
    <%= link_to event.name, event %>
  </li>
  <% end %>
</ul>

<h3>Past</h3>
<ul>
  <% @user.attended_events.past.find_each do |event| %>
  <li>
    <%= link_to event.name, event %>
  </li>
  <% end %>
</ul>

