<h1>Upcoming Events</h1>

<ul>
  <% @events.upcoming.each do |event| %>
    <li>
      <%= link_to event.name, event %>
    </li>
  <% end %>
</ul>

<h1>Past Events</h1>

<ul>
  <% @events.past.each do |event| %>
    <li>
      <%= link_to event.name, event %>
    </li>
  <% end %>
</ul>

<%= link_to "New Event", new_event_path %>
